main {
    padding: 32px;
    text-align: center;
}

.table-container {
    margin: 0 auto;
    max-width: 1000px;
}

details {
    text-align: left;
    white-space: nowrap;
}

figure {
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
    height: 80vh;
}

.table-header-container {
    /* display: flex; */
    /* flex-direction: column; */
    white-space: nowrap;
    padding: 4px;
}

.hide-column {
    padding-right: 10px;
    display: inline-block;
}

table {
    table-layout: auto;
}